
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="cHiN">

    <title>TMSL Admin Module</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://localhost:80/TMSL2/assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="http://localhost:80/TMSL2/assets/libs/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="http://localhost:80/TMSL2/assets/styles/master/master.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://localhost:80/TMSL2/assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- Jquery Datatables-->
    <link href="http://localhost:80/TMSL2/assets/libs/DataTables-1.10.9/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
    <link href="http://localhost:80/TMSL2/assets/libs/DataTables-1.10.9/css/dataTables.responsive.css" rel="stylesheet" type="text/css">

    <!--page scripts-->
    <link href="http://localhost:80/TMSL2/assets/styles/customer/customer.css" rel="stylesheet" type="text/css">


</head>

<body>

<div id="wrapper">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://localhost:80/TMSL2/">TMSL Admin v1.0</a>
    </div>
    <!-- /.navbar-header -->



    <ul class="nav navbar-top-links navbar-right">

        <li>
            <h3> <small>Welcome </small></h3>
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="http://localhost:80/TMSL2//index.php/login/logout_user"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div id="loaderWrapper" class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <img id="loaderImg" src="http://localhost:80/TMSL2/assets/images/loader.gif">
        </div>
        <div class="form-group">
            <div id="loaderContent" class="alert alert-success" role="alert">Loading .......</div>
        </div>
    </div>

    <ol class="pagePath">
        <li><h3><small><i>TMSL > Tour > </i></small>Tour Enrolment</h3></li>
    </ol>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li class="active">
                    <a href="http://localhost:80/TMSL2/index.php/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="http://localhost:80/TMSL2/index.php/customer"><i class="fa fa-table fa-fw"></i> Customer</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> Hotel<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="http://localhost:80/TMSL2/index.php/hotel">Hotel</a>
                        </li>
                        <li>
                            <a href="http://localhost:80/TMSL2/index.php/room">Room</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> Tours<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="http://localhost:80/TMSL2/index.php/tour_en">Tour Enrolment</a>
                        </li>
                        <li>
                            <a href="http://localhost:80/TMSL2/index.php/tour">Tour</a>
                        </li>
                        <li>
                            <a href="#">Transport</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="flot.html">Invoices</a>
                        </li>
                        <li>
                            <a href="morris.html">Tours</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>



<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        </br>
        <div class="row">
            <ul class="nav nav-tabs">
                <li id="tabSearchLink" class="active"><a data-toggle="tab" href="#tabSearch">Search</a></li>
                <li id="tabViewLink" style="display:none"><a data-toggle="tab" href="#tabView">View</a></li>
                <li id="tabEditLink" style="display:none"><a data-toggle="tab" href="#tabEdit">Edit</a></li> <!--display:none-->
                <li id="tabAddLink" style="float: right;margin-right: 1%"><a data-toggle="tab" href="#tabAdd">Add</a></li>
            </ul>

            <div class="tab-content">
                <div id="tabSearch" class="tab-pane fade in active">
                    </br>
                    <div class="panel panel-default criteria">
                        <div class="panel-heading criteria-header">
                            <h4 class="panel-title">
                                <a class="togleHead" data-toggle="collapse" data-target="#collapseTwo" style="cursor: pointer">
                                    Search Tour enrolment
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse out">
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="customerS" class="col-sm-5 control-label">Customer</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="customerS" placeholder="Customer">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-5 col-sm-10">
                                            <script>
                                                var searchControls=['customerS'];
                                            </script>
                                            <button type="button" id="btnSearch" onclick="searchData('http://localhost:80/TMSL2/index.php/tour_en/getSearchGrid',getPostDataSearch(searchControls),'')" class="btn btn-default">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="tableContainer">
                        <!-- grid -->
                        <table id='datatable' class='table table-striped table-bordered table-hover dataTable no-footer' cellspacing='0' width='100%'><thead class='borderHead'><tr><th>Tour Enrol Id</th><th>Customer</th><th>Action</th></tr></thead><tbody class='borderHead'><tr><td>1</td><td>customer 02</td><td><a href='javascript:getJson("http://localhost:80/TMSL2/index.php/tour_en/viewData/1",getView,{})'>view</a> || <a href='javascript:getJson("http://localhost:80/TMSL2/index.php/tour_en/editData/1",getEdit,{})'>edit</a> || </td></tr><tr><td>2</td><td>customer 01</td><td><a href='javascript:getJson("http://localhost:80/TMSL2/index.php/tour_en/viewData/2",getView,{})'>view</a> || <a href='javascript:getJson("http://localhost:80/TMSL2/index.php/tour_en/editData/2",getEdit,{})'>edit</a> || </td></tr></tbody></table>                    </div>
                </div>
                <div id="tabView" class="tab-pane fade">
                </div>
                <div id="tabEdit" class="tab-pane fade">
                </div>
                <div id="tabAdd" class="tab-pane fade">
                    <h3>Add Tour</h3></br>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" id="IDi" value="-1">
                            <label for="customer_Idi" class="col-sm-2 control-label">Customer</label>
                            <div class="col-sm-10">
                                <!--<input type="text" class="form-control" id="customer_Idi" placeholder="Customer" >-->
                                <select id="customer_Idi" class="form-control">
                                    <option value='1'>customer 01</option><option value='2'>customer 02</option>                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <script>
                                    var saveControls=['IDi','customer_Idi'];
                                </script>
                                <button type="button" id="btnSave" onclick="saveData('http://localhost:80/TMSL2/index.php/tour_en/saveData/1',getPostData(saveControls),'tour_en/loadAjaxGrid')" class="btn btn-default">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->


<script>
    function getPostData(ctrlist){
        var tour_en_Id=$('#'+ctrlist[0]).val();
        var tour_en_customer_Id=$('#'+ctrlist[1]).val();


        var post={
            'tour_en_Id':tour_en_Id,
            'tour_en_customer_Id':tour_en_customer_Id
        };

        var postList={
            'post':post,
            'ctrList':ctrlist
        }
        return postList;
    }

    function getPostDataSearch(ctrlist){
        var tour_en_customer_Id=$('#'+ctrlist[0]).val();

        var post={
            'tour_en_customer_Id':tour_en_customer_Id
        };

        var postList={
            'post':post,
            'ctrList':ctrlist
        }
        return postList;
    }

</script>



</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="http://localhost:80/TMSL2/assets/libs/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="http://localhost:80/TMSL2/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="http://localhost:80/TMSL2/assets/libs/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="http://localhost:80/TMSL2/assets/scripts/master/master.js"></script>


<!-- Jquery Datatable scripts-->
<script src="http://localhost:80/TMSL2/assets/libs/DataTables-1.10.9/js/jquery.dataTables.min.js"></script>
<script src="http://localhost:80/TMSL2/assets/libs/DataTables-1.10.9/js/dataTables.bootstrap.min.js"></script>

<!-- page scripts -->
<script src="http://localhost:80/TMSL2/assets/scripts/master/integrate.js"></script>

<!--stat loader -->
<script>setLoadContent(1,"succeeded ...")</script>
</body>
</html>
